<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>splinter</title>

        <meta name="description" content="Splinter is an open source Python tool for test web applications" />
        <meta name="keywords" content="splinter, python, web applications, tests, acceptance tests, cobrateam" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css" />
        <link rel="stylesheet" href="/static/css/splinter.css" type="text/css" />
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23628203-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </head>
    <body>
        <div id="header">
            <div class="header-container">
                <div class="title">
                    <h1>splinter</h1>
                    <p>tool for test web applications</p>
                </div>
                <ul class="nav">
                    <li><a href="/docs/install.html">install</a></li>
                    <li><a href="/docs/">documentation</a></li>
                    <li><a href="/docs/community.html">community</a></li>
                    <li><a href="/docs/contribute.html">contribute</a></li>
                </ul>
            </div>
        </div>
        <div id="page">
            <div id="main">
                <h2>splinter is a test tool for web applications.</h2>
                <p>splinter is a tool for test web applications with a simple for find elements, form actions, and others browser actions.</p>
                <ul class="features">
                    <h2>features</h2>
                    <li>simple api</li>
                    <li>multi webdrivers (chrome, firefox, zopetestbrowser)</li>
                    <li>css and xpath selectors</li>
                    <li>support to iframe and alert</li>
                    <li>execute javascript</li>
                    <li>work's with ajax and async javascript</li>
                </ul>
                <h2>getting started</h2>
                <p class='started'>when you're ready to test, read the <a href="/docs/install.html">installation guide</a> and <a href="/docs/tutorial.html">tutorial</a>.</p>
            </div>
            <div id="right">
                <div id="release">
                    <a href="https://github.com/cobrateam/splinter/zipball/0.0.3">current release: <strong>0.0.3</strong></a>
                </div>
            </div>
        </div>
        <div id="footer"></div>
    </body>
</html>
